body * {
	font-family: Arial, 微软雅黑;
	font-size: 12px;
}

h1 {
	font-size: 18px;
}

.demo-info {
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
}

.demo-tip {
	width: 24px;
	height: 16px;
	float: left;
}