/* for esp/index.html */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: url(img/moc_bg.jpg) repeat-x 0 0;
	background-color: white;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #069;
}

img {
	border: 0;
}

#moc_top {
	width: 1366px;
	height: 239px;
	top: 0;
	position: absolute;
	left: 50%;
	margin-left: -683px;
	margin-top: 0;
	display: block;
}

#moc_main {
	width: 100%;
	height: 100%;
	background: url(img/j_r2_c1.jpg) repeat-x;
	padding: 0;
	margin: 239px 0 0 0;
	overflow: hidden;
	background-color: none;
	float: left;
}

.moc_con {
	width: 960px;
	height: 100%;
	min-height: 650px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

.moc_login {
	width: 960px;
	height: 80px;
	margin: 25px 0;
	display: block;
	padding: 0;
}

.moc_login .login_a {
	width: 200px;
	height: 80px;
	display: block;
	float: left;
}

.moc_login .login_b { 
	width: 160px; 
	height: 80px; 
	display: block; 
	float: left;
}

.moc_list {
	width: 960px;
	height: 350px;
	margin: 0;
	padding: 0;
	display: block;
}

.moc_list_left {
	width: 720px;
	height: 300px;
	float: left;
}

.moc_list_left_news {
	width: 350px;
	height: 240px;
	float: left;
	margin: 10px 0;
	paddding: 0;
	background: #EFEFEF;
}

.moc_list_left_space {
	width: 20px;
	height: 240px;
	display: block;
	float: left;
	margin: 10px 0;
}

.news_top {
	width: 350px;
	height: 30px;
	background: url(img/j_r5_c5.jpg) repeat-x;
	margin: 0;
	padding: 0;
}

.news_top h3 {
	width: 190px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 10px;
	display: block;
	font-size: 15px;
	color: #fff;
	float: left;
}

.news_top span, .right_top span {
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: right;
	display: block;
}

.news_top span a, .news_top span a:hover, .right_top span a, .right_top span a:hover {
	color: #fff;
}

.moc_list_left_news ul {
	margin: 0;
	padding: 5px 5px 5px 0;
	list-style: none;
}

.moc_list_left_news ul li {
	/*height: 25px;
	line-height: 25px; 
	padding: 0 0 0 10px; */
	padding-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family:Arial;
}

.moc_list_right {
	width: 230px;
	height: 350px;
	float: right;
}

.moc_list_right_news {
	width: 230px;
	height: 490px;
	margin: 0;
	padding: 10px 0;
	background: #EFEFEF;
}

.right_top {
	width: 230px;
	height: 30px;
	background: url(img/j_r5_c9.jpg) repeat-x;
	margin: 0;
	padding: 0;
}

.right_top h3 {
	width: 160px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 10px;
	display: block;
	font-size: 15px;
	color: #fff;
	float: left;
}

.moc_list_right_news ul {
	margin: 0;
	padding: 5px 5px 5px 0;
	list-style: none;
}

.moc_list_right_news ul li {
	/* height: 25px;
	line-height: 25px;
	padding: 0 0 0 10px;
	margin: 0; */
	padding-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family:Arial;
}

.moc_list_right_pic {
	height: 50px;
	margin-top: 10px;
	padding: 0;
}

.moc_footer {
	width: 960px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 10px auto;
	padding: 0;
	background: url(img/j_r10_c3.jpg) repeat-y;
	text-align: center;
	font-family:Arial;
	font-size: 12px;
	color: #fff;
}

.moc_footer a {
	text-decoration:none;
	font-weight:bold;
	color:#aff
}

.links {
	padding: 10px;
}

.links_item {
	margin-top: -5px;
}
